<%= form_for([@ad,@question], remote: true, html: { id: "questions-form",:"data-type" => "json" }) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_area :body, class:"form-control", placeholder:"Escribe aquí tu pregunta." %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-lg btn-primary" %>
  </div>
<% end %>
